services:
  grpc-server: 
    build: 
      context: . 
      dockerfile: Dockerfile 
    container_name: grpc-serv
    ports:
      - 8080:8080 
    depends_on: 
      db: 
        condition: service_healthy 
      redis:  
        condition: service_started
    environment:
      - DATABASE_URL=${DATABASE_DOCKER_URL}
      - REDIS_ADDR=${DOCKER_REDIS_ADDR}
    restart: unless-stopped 
  db: 
    image: postgres:15-alpine 
    container_name: db-postgres 
    ports:
      - 5432:5432
    volumes:
      - postgres_data:/var/lib/postgres/data     
    environment:
      - POSTGRES_USER=${POSTGRES_USER} 
      - POSTGRES_PASSWORD=${POSTGRES_PASSWORD}
      - POSTGRES_DB=${POSTGRES_DB}
    healthcheck:
      test: ["CMD-SHELL", "pg_isready -U postgres"]
      interval: 1m30s
      timeout: 30s
      retries: 5
      start_period: 30s
    restart: unless-stopped 
  redis: 
    image:  redis:8-alpine
    container_name: db-redis 
    ports: 
    - 6379:6379 
    volumes:  
      - redis_data:/var/lib/redis/data
    healthcheck:
      test: ["CMD", "redis-cli", "ping"]
      interval: 1m30s
      timeout: 30s
      retries: 5
      start_period: 30s
    restart: unless-stopped 
    
    

volumes:
  postgres_data: 
    driver: local 
  redis_data: 
    driver: local